__pycache__/
*.py[codz]
*$py.class

.env
.venv/
env/
venv/

build/
dist/
*.egg-info/
*.egg
*.whl
MANIFEST

*.log
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.pytest_cache/

.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

.mypy_cache/
.dmypy.json
.pyre/
.pytype/

marimo/_static/
marimo/_lsp/
__marimo__/
